<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>b/bigtag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,168},{80,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/bigtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,101},{90,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>b/bigtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{82,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{82,77}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/bigtag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>b/bigtag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,106},{97,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>b/bigtag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,136},{93,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>b/bigtag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{102,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,213},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,160},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,196},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,213},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,146},{48,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,94},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,54},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,124},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,196},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,140},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,94},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,196},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,205},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/dizhutag.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,106},{101,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>b/gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{132,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,115}}</string>
                <key>sourceSize</key>
                <string>{132,115}</string>
            </dict>
            <key>b/orange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,213},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,196},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,196},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,213},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,146},{48,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,54},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,90},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,88},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,94},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/orange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,209},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>b/poker_mask_scale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,205},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>b/red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{46,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,52},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{32,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,213},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,146},{48,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,196},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,54},{38,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{34,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,54},{34,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{36,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,94},{34,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,209},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>b/small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,196},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>b/smalltag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
            <key>b/smalltag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_b.png</string>
            <key>size</key>
            <string>{1009,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c1a69a093629413fd2be56b6de69c3:1/1$</string>
            <key>textureFileName</key>
            <string>poker_b.png</string>
        </dict>
    </dict>
</plist>
