<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddzsingle_maplvl_board_got.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,114},{109,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,73}}</string>
                <key>sourceSize</key>
                <string>{109,73}</string>
            </dict>
            <key>ddzsingle_maplvl_board_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,89},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>ddzsingle_maplvl_btn_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,89},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
            <key>ddzsingle_maplvl_btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
            <key>ddzsingle_maplvl_btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,175},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>ddzsingle_maplvl_btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
            <key>ddzsingle_maplvl_left_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,128},{105,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,112}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>ddzsingle_maplvl_left_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,128},{105,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,112}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>ddzsingle_maplvl_mid_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>ddzsingle_maplvl_mid_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>ddzsingle_maplvl_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,85}}</string>
                <key>sourceSize</key>
                <string>{534,85}</string>
            </dict>
            <key>ddzsingle_maplvl_right_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>ddzsingle_maplvl_right_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,128},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>ddzsingle_maplvl_word_tgjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,180},{136,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,29}}</string>
                <key>sourceSize</key>
                <string>{136,29}</string>
            </dict>
            <key>ddzsingle_maplvl_word_tgtj.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,175},{136,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,29}}</string>
                <key>sourceSize</key>
                <string>{136,29}</string>
            </dict>
            <key>ddzsingle_maplvl_word_yjxjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{197,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,29}}</string>
                <key>sourceSize</key>
                <string>{197,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddzsingle_map_lvl.png</string>
            <key>size</key>
            <string>{1019,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c46a045373f08b14c344dcb744c1e58:1/1$</string>
            <key>textureFileName</key>
            <string>ddzsingle_map_lvl.png</string>
        </dict>
    </dict>
</plist>
